.notification-container {
    position: fixed;
    top: 80px;  
    right: 20px;  
    z-index: 1050; 
  }
  
  .notification-alert {
    margin-bottom: 10px; 
    width: auto; 
    max-width: 300px;  
    padding: 10px 20px; 
  }
  