/* src/components/Cart/Cart.css */

.cart-section {
    padding-top: 100px; /* Добавьте необходимый отступ, чтобы контент не прилипал к верхней панели */
  }
  
  .custom-card {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
  
  .card-img-container {
    flex: 1;
    display: flex;
    align-items: center; /* Выравнивание по центру по вертикали */
    justify-content: center; /* Выравнивание по центру по горизонтали */
    max-width: 40%; /* Ограничение максимальной ширины изображения */
    overflow: hidden;
  }
  
  .card-text-container {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Масштабирование изображения, сохраняя его пропорции */
  }
  .card-text-content {
    flex-grow: 1;
  }